<div class="">
  <div class="max-w-xl mx-auto bg-white p-6">
    <button routerLink="/" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer">Back</button>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="max-w-xl mx-auto bg-white p-6"
  >
    <div class="flex justify-between">
      <div class="mb-4 w-90">
        <label class="block mb-1">Name</label>
        <input formControlName="personName" class="border p-2 w-full rounded" />

        @if (form.controls.personName.touched && form.controls.personName.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if (form.controls.personName.errors?.['required']) {
              <p>Name is required</p>
            }
            @if (form.controls.personName.errors?.['minlength']) {
              <p>Minimum 2 characters required</p>
            }
            @if (form.controls.personName.errors?.['maxlength']) {
              <p>Maximum 100 characters allowed</p>
            }
          </div>
        }
      </div>

      <div>
        <div class="mb-4">
          <label class="block mb-1">Date of Birth</label>
          <input type="date" formControlName="personDateOfBirth" class="border p-2 w-full rounded" />

          @if (form.controls.personDateOfBirth.touched && form.controls.personDateOfBirth.invalid) {
            <p class="text-red-500 text-sm mt-1">Date of birth is required</p>
          }
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="mb-4 w-100">
        <label class="block mb-1">Height (feet)</label>
        <input type="number" formControlName="personHeightInFeet" class="border p-2 w-full rounded" />

        @if (form.controls.personHeightInFeet.touched && form.controls.personHeightInFeet.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if (form.controls.personHeightInFeet.errors?.['required']) {
              <p>Height is required</p>
            }
            @if (form.controls.personHeightInFeet.errors?.['min']) {
              <p>Minimum height is 1</p>
            }
            @if (form.controls.personHeightInFeet.errors?.['max']) {
              <p>Maximum height is 10</p>
            }
          </div>
        }
      </div>

      <div class="mb-4 w-100 ms-4">
        <label class="block mb-1">Weight (kg)</label>
        <input type="number" formControlName="personWeightInKg" class="border p-2 w-full rounded" />

        @if (form.controls.personWeightInKg.touched && form.controls.personWeightInKg.invalid) {
          <div class="text-red-500 text-sm mt-1">
            @if (form.controls.personWeightInKg.errors?.['required']) {
              <p>Weight is required</p>
            }
            @if (form.controls.personWeightInKg.errors?.['min']) {
              <p>Minimum weight is 1</p>
            }
            @if (form.controls.personWeightInKg.errors?.['max']) {
              <p>Maximum weight is 500</p>
            }
          </div>
        }
      </div>
    </div>

    <div class="flex justify-between">
      <div>
        <label class="block mb-2">Gender</label>

        <div class="flex gap-4">
          <label class="flex items-center gap-2">
            <input type="radio" formControlName="personGender" value="Male" />
            Male
          </label>

          <label class="flex items-center gap-2">
            <input type="radio" formControlName="personGender" value="Female" />
            Female
          </label>

          <label class="flex items-center gap-2">
            <input type="radio" formControlName="personGender" value="Other" />
            Other
          </label>
        </div>

        @if (form.controls.personGender.touched && form.controls.personGender.invalid) {
          <p class="text-red-500 text-sm mt-1">Gender is required</p>
        }
      </div>

      <div class="mb-4 w-100 ms-4">
        <label class="block mb-1">Marital Status</label>
        <select formControlName="personMaritalStatus" class="border p-2 w-full rounded">
          <option value="">Select Status</option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
        </select>

        @if (form.controls.personMaritalStatus.touched && form.controls.personMaritalStatus.invalid) {
          <p class="text-red-500 text-sm mt-1">Marital status is required</p>
        }
      </div>
    </div>

    <div class="mb-4 flex items-center">
      <input type="checkbox" formControlName="personIsGraduated" class="mr-2" />
      <label>Graduated</label>

      @if (form.controls.personIsGraduated.touched && form.controls.personIsGraduated.invalid) {
        <p class="text-red-500 text-sm mt-1">Graduated status is required</p>
      }
    </div>

    <div class="flex justify-center">
      <button type="submit" class="bg-blue-500 w-50 text-white px-4 py-2 rounded cursor-pointer">
        {{ isEdit() ? 'Update' : 'Create' }}
      </button>
    </div>
  </form>
</div>
